<h2 mat-dialog-title>Add New Contact</h2>
<mat-dialog-content>

    <div class="form-container">
        <mat-form-field appearance="fill">
            <mat-label>Avatar</mat-label>
            <mat-select [(ngModel)] = "user.avatar">
                <mat-option value="svg-1"><mat-icon svgIcon="svg-1"></mat-icon>svg-1</mat-option>
                <mat-option value="svg-2"><mat-icon svgIcon="svg-2"></mat-icon>svg-2</mat-option>
                <mat-option value="svg-3"><mat-icon svgIcon="svg-3"></mat-icon>svg-3</mat-option>
                <mat-option value="svg-4"><mat-icon svgIcon="svg-4"></mat-icon>svg-4</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label> 
            <input matInput [(ngModel)] = "user.name" required>
            <mat-error *ngIf="userName.invalid">{{nameErrorMessage()}}</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)] = "user.birthDate" >
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Bio</mat-label>
            <textarea matInput [(ngModel)] = "user.bio"></textarea>
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button color="primary" (click)="saveUser()">
        <mat-icon>save</mat-icon> Save
    </button>
    <button mat-button color="primary" (click)="closeDialog()">
        <mat-icon>cancel</mat-icon> Cancel
    </button>
</mat-dialog-actions>